--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu

pip-tools
torch
python-telegram-bot
chromadb
python-dotenv
python-docx
httpx
sentence-transformers
numpy
fastapi
uvicorn
mysql-connector-python
email-validator
python-multipart
passlib[argon2]
