torch --index-url https://download.pytorch.org/whl/cpu

python-telegram-bot
chromadb
python-dotenv
python-docx
httpx
sentence-transformers
numpy
fastapi
uvicorn
mysql-connector-python
email-validator
python-multipart
passlib[argon2]
